h1{
    color:white;
    display:block;
    margin:auto;
    width:220px;
}
body{
    background-color:black;
}
td{
    border:white solid 5px;
    width:100px;
    height:100px;
}
table{
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size:80px;
    text-align: center;
}
button{
    margin:auto;
    display:block;
    margin-top:20px;
}
p{
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size:80px;
    text-align: center;
}